<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Suit">
    <listeners>
        <listener class-name="utils.SuitListener"></listener>
    </listeners>
    <test name="Regression">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="SampleTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->